<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{styles/normalize.css}">
    <link rel="stylesheet" th:href="@{styles/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
    body {
        font-family: 'Signika Negative', sans-serif;
    }
    </style>
</head>
<body>
    <div class="top-level-header-container flex">
        <div class ="sub-level-header-container flex only-flex-item beauty-margin">
            <nav class = "header-navigation flex only-flex-item">
                <div class= "navigation-link-container flex only-flex-item flex-space-between">
                    <div class= "container-of-spans span-logo-container flex flex-item">
                        <span class="span-logo-holder"><a class="logo-link" th:href="@{/}">SCOTTSDALE<br />COMMUNITY<br />GARDEN</a></span>
                    </div>
                    <div class= "container-of-spans span-links-container flex flex-item">
                        <span class="span-header-link-container"><a href="">JOIN US!</a>
                        </span>
                        <span class="span-header-link-container"><a href="">ABOUT</a>
                        </span>

                            <div class="flex drop-down-holder" id="resources-drop-down-holder">
                                <span class="span-header-link-container span-hover-dropdown">RESOURCES
                                    <svg class="pad-svg" width="22" height="11">
                                        <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
                                    </svg>
                                </span>
                                <div class="flex flex-vertical drop-down-menu" id="resources-drop-down-menu">
                                    <div class="link-div-container flex">
                                            <img id="pencil-icon" class="icon" src="images/icon-blog.png" alt="pencil icon"><a href="">BLOG</a>
                                    </div>
                                    <div class="link-div-container flex">
                                            <img id="sun-icon" class="icon" src="images/icon-weather.png" alt="sun icon"><a href="">WEATHER, CLIMATE, ENERGY</a>
                                    </div>
                                    <div class="link-div-container flex">
                                            <img id="brain-icon" class="icon" src="images/icon-class.png" alt=""><a href="">CLASSES</a>
                                    </div>
                                </div>
                            </div>

                            <div class="flex drop-down-holder" id="events-drop-down-holder">
                                <span class="span-header-link-container span-hover-dropdown">EVENTS
                                    <svg class="pad-svg" width="22" height="11">
                                        <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
                                    </svg>
                                </span>
                                <div class="flex flex-vertical drop-down-menu" id="events-drop-down-menu">
                                    <div class="link-div-container flex">
                                            <img class="icon" src="images/icon-charity.png" alt="pencil icon"><a href="">CHARITY</a>
                                    </div>
                                    <div class="link-div-container flex">
                                            <img  class="icon" src="images/icon-market.png" alt="sun icon"><a href="">FARMER'S MARKET</a>
                                    </div>
                                    <div class="link-div-container flex">
                                            <img  class="icon" src="images/icon-calendar.png" alt=""><a href="">CALENDAR</a>
                                    </div>
                                </div>
                            </div>

                        <span class="span-header-link-container"><a href="contactUs.html">CONTACT US</a>
                        </span>
                    </div>
                    <div class= "container-of-spans span-signin-container flex flex-item">
                        <span class="span-header-sign-in-container"><a href="login.html">SIGN-IN</a></span>
                    </div>
                    <div class="flex flex-item hidden-flower-button-container center-center-items pos-relative">
                        <button class=" flex flex-item hidden-flower-button center-center-items menu-item-click">
                            <svg viewbox= "0 0 48 48"   class="flower-button-svg center-center-items">
                                <path id="flower-button" d="M 24 18 L 24 30 C 32 30 32 18 24 18 M 24 18 L 24 30 C 16 30 16 18 24 18 M 24 24 C 0 0 24 0 24 24 M 24 24 C 0 24 0 0 24 24 M 24 24 C 48 0 24 0 24 24 M 24 24 C 48 24 48 0 24 24 M 24 24 C 0 48 0 24 24 24 M 24 24 C 24 48 0 48 24 24 M 24 24 C 48 48 48 24 24 24 M 24 24 C 24 48 48 48 24 24" stroke="black" stroke-width="1" fill="none" />
                            </svg>
                        </button>
                        <div class= "hidden-menu-container flex flex-item pos-absolute flex-vertical align-items-center">
                            <span class="block"><a href="#">JOIN US!</a></span>
                            <span class="block"><a href="#">ABOUT</a></span>
                            <button id="resources-button">RESOURCES
                                <svg class="pad-svg" width="22" height="11">
                                    <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
                                </svg>
                            </button>
                            <span id="resources-links" class="hide-resource-links"><a class="block" href="#">BLOG</a><a class="block" href="#">WEATHER, CLIMATE, ENERGY</a><a class="block" href="#">CLASSES</a></span>
                            <button id="events-button">EVENTS
                                <svg class="pad-svg" width="22" height="11">
                                    <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
                                </svg>
                            </button>
                            <span id="events-links" class="hide-event-links"><a class="block" href="#">CHARITY</a><a class="block" href="#">FARMERS MARKET</a><a class="block" href="#">CALENDAR</a></span>
                            <span><a href="contactUs.html">CONTACT US</a></span>
                            <span><a href="login.html">SIGN IN</a></span>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="flex flex-vertical" id="first-section-container" style="overflow: hidden;">
        <div class="welcome-section-fp top-right-flex-item flex flex-vertical"
            data-aos="fade-left"
            data-aos-easing="ease-in-sine"
            data-aos-mirror="true"
        >
            <h2>WELCOME TO THE CLUB!</h2>
            <p>Check out the JOIN US page if you're new...</p>
        </div>
        <div class="club-announcements-fp bottom-left-flex-item flex flex-vertical"
            data-aos="fade-right"
            data-aos-easing="ease-in-sine"
            data-aos-mirror="true"
        >
            <h2>ANNOUNCEMENTS</h2>
            <p>Check out some of our upcoming charity events!</p>
            <p>Check out our lastest post on bee keeping!</p>
        </div>
    </div>
    <div class="flex flex-vertical beauty-margin" id="second-section-container">
        <div class="table-label" id="upper-fp-table-label">
            <span>OUR CLUB HAS...</span>
        </div>
        <div class="table-container flex flex-vertical">
            <table class="garden-stats-table">
                <tr class="fron-page-tr tr-th">
                    <th>MEMBERS</th>
                    <th>GARDEN AREA</th>
                    <th>PLOTS</th>
                    <th>BEE HIVES</th>
                    <th>FISH TANKS</th>
                </tr>
                <tr class="fron-page-tr tr-td">
                    <td>50</td>
                    <td>5 ACRES</td>
                    <td>75</td>
                    <td>45</td>
                    <td>12</td>
                </tr>
            </table>
        </div>
        <div class="table-label" id="lower-fp-table-label">
            <span>...AND WE ARE ALWAYS GROWING!</span>
        </div>
    </div>
    <div class= "flex beauty-margin" id="third-section-container">
        <div class="flex flex-vertical">
            <h3>OUR MISSION</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex reprehenderit natus voluptatibus amet! Autem id corporis soluta ullam dolorum, ducimus accusantium facere ipsum et quibusdam, dolorem dolor nulla iste fugiat maiores amet repellendus illo totam? Autem pariatur libero voluptatem omnis cumque, ratione possimus ipsam quo numquam, quam iste ut aut quibusdam corrupti. Ut nisi voluptatum consequatur ab sunt dolore, dignissimos, necessitatibus voluptates, excepturi officiis iusto tempora assumenda iure beatae delectus sit! Quaerat maiores dignissimos natus, eius, facere nobis est praesentium, quibusdam doloremque ullam dicta possimus labore perspiciatis. Nihil sapiente ea, iste nemo quasi tenetur tempora at. Doloremque minus unde assumenda!
            </p>
        </div>
    </div>
    <div class="flex" id="fourth-section-container">

    </div>
    <div class="flex" id="fifth-section-container">
        <div class="scroll-container prev-image" id="prev-image-container"><a class="prev-image ss-scroller">&#10094</a></div>
        <div class="gallery-slides flex" >
            <img src="images/loginGardenImage1.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage2.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage6.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage7.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage8.jpg" alt="">
        </div>
        <div class="scroll-container next-image" id="next-image-container"><a class="next-image ss-scroller">&#10095</a></div>
    </div>
    <footer>

    </footer>
    <script src="js/slideshowHP.js"></script>
    <script src="js/expandResourcesEvents.js"></script>
    <script src="js/flower-button.js"></script>
    <script src="js/hover-dropdowns.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>